<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin: 24px">
          <a href="javascript:void(0)" class="navbar-brand">Logo</a>

          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse">
            <span class="navbar-toggler-icon"></span>
          </button>


          <div class="collapse navbar-collapse" id="navb">
            <ul class="navbar-nav mr-auto">

            </ul>
            <form action="" class="form-inline my-2 my-lg-0">
              <a href="javascript:void(0)" class="nav-link" [routerLink]="['/home']" routerLinkActive="active" >Home</a>
              <a href="javascript:void(0)" class="nav-link" [routerLink]="['/signup']" *ngIf="!currentStatus.status" >SignUp</a>
              <a href="javascript:void(0)" class="nav-link" [routerLink]="['/login']" *ngIf="!currentStatus.status"  >LogIn</a>
              <a href="javascript:void(0)" class="nav-link" (click)="logout()" [routerLink]="['/login']" *ngIf="currentStatus.status"  >LogOut</a>

            </form>

          </div>

        </nav>
        <router-outlet></router-outlet>
      </div>

    </div>

</div>
